button.is-primary {
  background-color: var(--primary) !important;
}

button.is-primary:hover {
  background-color: var(--primary-dark) !important;
}

button.is-secondary {
  background-color: var(--tertiary);
  color: var(--white);
  border-color: transparent;
}

button.is-secondary:hover {
  background-color: var(--tertiary-dark);
  color: var(--white);
}

.button.is-secondary:focus {
  border-color: transparent;
  color: var(--white);
}

button.is-danger {
  background-color: var(--quaternary) !important;
}

button.is-danger:hover {
  background-color: var(--quaternary-dark) !important;
}

button.is-link {
  background: none !important;
  color: var(--primary-dark) !important;
}

button.is-link:hover {
  color: var(--primary) !important;
}
