@import "bulma/css/bulma.css";

@font-face {
  font-family: Blanka;
  src: local("Blanka"),
  local("Blanka"),
  url(../public/fonts/Blanka-Regular.otf);
  font-weight: normal;
}

.App-Logo{
  font-family: Blanka;
  font-weight: 400;
  font-size: 48px;
  background: -webkit-linear-gradient(225deg, #038C7F 0%, #025959 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  margin-left: 1rem;
}
.App-Header{
  padding: 0.5rem
}
.App-Header i{
  font-size: 48px;
}

.App-link {
  color: #61dafb;
}

